html, body{
    margin: 0px;
    /* display: block; */
}

.nav{
    display: flex;
    flex-wrap: wrap;
    height: 5vh;
    width: 100%;
    padding: 10px;
    box-shadow: 0 5px 5px 0px #c5c5c5;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 5;
    justify-content: space-between;
}

.nitem{
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    background-color: white;
    font-size: medium;
}

.ham-container{
    position: relative;
    text-align: center;
}

.hamburger{
    max-width: 100%;
    height: auto;
}

.hamtext{
    position: absolute;
    font-size: 200%;
    bottom: 8px;
    left: 16px;
    padding: 2%;
    color: rgb(134, 128, 128);
    font-size: 250%;
    letter-spacing: 4px;
}

span{
    background-color: rgb(208, 203, 203);
    padding: 2px;
}

.about{
    display: flex;
    /* flex-wrap: wrap; */
    /* padding-left: 18%;
    padding-right: 18%; */
    padding: 64px 200px;
    /* justify-content: center; */
}

.plates{
    opacity: 0.75;
    /* border: 30px solid white; */
    padding: 12px 24px;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.about-text{
    padding: 12px 30px;
    font-size: 150%;
}

.h1{
    letter-spacing: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

hr{
    border-top: 2px solid #eee;
    width: 69%;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    padding: 64px 0px;
    justify-content: center;
}

.menu-text{
    padding: 12px 24px;
}

.dish{
    padding: 12px 24px;
    opacity: 0.75;
}

.sh1{
    margin: 10px 0px;
    letter-spacing: 5px;
    text-align: center;
}

h4{
    letter-spacing: 5px;
    margin: 10px 0px;
    font-size: 20px;
    line-height: 2.5;
}

.p{
    margin: 15px 0px;
    line-height: 3.5;
    font-size: 17px;
}

.contact{
    padding: 64px 16px;
    margin: 0px 200px;
}

.th1{
    letter-spacing: 5px;
    margin: 10px 0px;
    line-height: 1.5;
}

input{
    padding: 16px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 80%;
}

button{
    margin: 8px;
    border: none;
    padding: 8px 16px;
}

button:hover{
    background-color: #ccc;
}

a:visited{
    color: black;
}

footer{
    background-color: #f1f1f1;
    text-align: center;
    padding: 32px;
}

.fa-github{
    font-size:38px;
    padding: 1%;
}

.fa-linkedin{
    font-size:30px;
    color: #0A66C2;
    padding: 1%;
}

.fa-twitter{
    font-size: 30px;
    color: #00acee;
    padding: 1%;
}

.fa-envelope{
    font-size: 30px;
    color: #EA4335;
    padding: 1%;
}